.portfolio-container{
  background-color: #2098D1;
  color:white;
  height:200px;
  text-align:center;
  padding-top:40px;
  font-size: 1.5rem;
}
.portfolio-container nav a
{
  font-size: 1rem;
  color:white;
}
.inline-block{
  display: inline-block;
}
