.content
{
  padding:3rem 10rem;
}
.content p{
  font-size: 1rem;
  color:white;
}
.image
{
  flex-shrink: 0;
  width:180px;
  height:180px;
  border-radius:50%;
  background-image: url('../assets/images/anand_icon.png');
  background-size: cover;
}
.main-header
{
  display:flex;
  flex-shrink:0;
}
.main-header h1 {
  color: #666;
  text-align:left;
  margin:1.2em;
  font-size: 1em;
  padding-top:1.5em;
}
.main-header p{
  padding: 33px;
  color:#666;
}

.main-header ~ p{
  font-size:1.3rem;
  text-align:left;
  color:#666;
}

/*Less than Medium devices (tablets, 768px and down)*/
@media (max-width: 767px)
{
  .content
  {
    padding:3rem 2rem;
  }
  .main-header
  {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

